<!DOCTYPE html>
<html>
<head>
<title>rgon.es</title>
    <meta name="viewport" content="width=device-width">
<style>
@font-face {
    font-family: 'LMRoman10';
    font-style: normal;
    font-weight: 400;
    src: local('LMRoman10'), url('https://fonts.cdnfonts.com/s/266/lmroman10-regular.woff') format('woff');
}

::selection {
    background: #aaa08d;
}
img::selection {
    background: transparent;
}
head, body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}
body {
    padding: 5em;
    background: #030303;
}
.center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1 {
    font-family: 'LMRoman10', sans-serif;
    color: #d0d0d0;
}
h2 {
    font-family: 'LMRoman10', sans-serif;
    color: #a0a0a0;
}

ul {
    margin: 0;
    padding: 0;
}
a {
    font-family: 'LMRoman10', sans-serif;
    color: #a0a0a0;
    text-decoration: none;
    margin-right: 2em;
    vertical-align: middle;
}
.main {
    box-sizing: border-box;
    min-width: 450px;
}
.githublogo {
    filter: invert(1);
    opacity: 0.75;
    vertical-align: middle;
    height: 40px;
}
.iglogo {
    filter: invert(1);
    opacity: 1;
    vertical-align: middle;
    height: 30px;
}
</style>
</head>
<body class="center">
    <div class="main">
        <h1>rgon.es</h1>
        <h2>Coming soon...</h2>
        <ul>
            <a href="https://github.com/rgon"><img class="githublogo" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"> github.com/rgon</a><a href="https://instagram.com/gonruizp"><img class="iglogo" src="https://cdn.cdnlogo.com/logos/i/43/instagram-circle.svg"> instagr.am/gonruizp</a>
        </ul>

        {{ content }}
    </div>
</body>
</html>