<footer class="dark center {{classes}}">
    <p style="text-align: center;">Gonzalo Ruiz, independent Software Developer and Lighting Designer.</p>
    <p><a href="{{ messageLink | default: '/contact/'}}">{{message | default: 'Let&apos;s have a chat!'}}</a></p>
</footer>