<footer class="dark center {{classes}}">
    <p style="text-align: center;">{{moto | default: site.footerMoto }}</p>
    <p><a href="{{ messageLink | default: '/contact/'}}">{{message | default: 'Let&apos;s have a chat!'}}</a></p>
</footer>