<div class="horizontalflex socialLinks">
    <a class="stealth" href="https://instagram.com/gonruizp" target="_blank"><img src="/logo/instagram.svg" alt="" aria-hidden="true">instagr.am/gonruizp</a>
{% if linkedin != false %}
    <a class="stealth" href="https://www.linkedin.com/in/rgones" target="_blank"><img src="/logo/linkedin.svg" alt="" aria-hidden="true">linkedin.com/in/rgones</a>
{% endif %}
    <a class="stealth" href="https://github.com/rgon"><img src="/logo/github.svg" alt="" aria-hidden="true">github.com/rgon</a>
</div>