<label class="toggle" for="dayNightToggle" style="margin-top: 1.5em;">
    <input name="" type="checkbox" id="dayNightToggle">
    <div class="toggleFill">
        <span>{{a}}</span>
        <span>{{b}}</span>
    </div>
</label>