header {
    position: sticky;
    top: -1px; /* IntersectionObserver */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100px;

    padding: 0 2em 0 2em;
    box-sizing: border-box;
    height: 100px;

    font-size: 16px; /* header-wide asolute font sizing to prevent increased fonts from breaking the layout */
}
header > nav.viewport {
    margin: 0;
}
header > nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    line-height: 180%;
}
header > nav ul li {
    /* margin-bottom: 2em; Using line-height  trick for better sticky reflow */
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}
header > nav ul li:not(:last-child) {
    margin-right: 2em;
}
header > .hero {
    box-sizing: border-box;
    /* min-width: 450px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 0;
        
    display: none;
}
header > .hero h2, header > .hero h3 {
    margin: 0;
}
header > .hero h2 {
    line-height: 80%;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;

}
header h2, header h3 {
    white-space: nowrap;
    text-overflow: clip;
    margin-top: 0;
    font-size: 1.57em;
}
/* header:not(.sticking) {
    background-color: transparent;
} */

header.sticking {
    background-color: var(--bg-color);
    /*height: auto;*/
    min-height: 100px;
    /* position: fixed; 
    top: 0;
    left: 0;
    margin: 0;
    */
    z-index: 50;
    transition: background-color .2s ease-out;
    justify-content: space-between;
}
header.sticking > * {
    transform: translateY(1px); 
    /* Fix 1px jump caused by InteractionObserver trick
    Cannot do it in <header> because it causes a loop.
    */
}
header.sticking > nav.viewport {
    padding-top: .5em;
    padding-bottom: .5em;
}
header.sticking > nav ul li {
    margin-bottom: 0;
}
header.sticking > .hero {
    display: flex;
    margin-right: 2em;
}
header.expanded {
    height: auto;
}
header.expanded > .hero {
    display: none;
}

header > .expand {
    display: none;
    width: 50px;
    height: 50px;
    padding: 0;
}
header.sticking > .expand::after {
    content: "View more";
    color: var(--text-color);
    font-weight: bold;
    vertical-align: middle;
    line-height: 90%;
    word-spacing: 50px;
    text-align: center;
}
header.expanded > .expand::after {
    content: "Close";
}

@media only screen and (max-width: 650px) {
    header.sticking:not(.expanded) > nav {
        display: none;
    }
    header.sticking > .expand {
        display: flex;
    }
}
header.nostick {
    position: relative;
}