/* Use Firefox DevTools’ Grid Inspector */
.collage {
    --collage-height: 400px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(var(--collage-height) *1);
    /*grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );*/
    grid-template-rows: repeat(2, 50%);
    grid-gap: 0px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    height: var(--collage-height);
    
    margin-left: auto;
    margin-right: auto;

    /* So it can be centered when there aren't enough items */
    width: auto;
    max-width: 100%;
}
.collage .item {
    box-sizing: border-box;
    position: relative;
    background-color: var(--bg-color);
    overflow: hidden;
}
.collage .item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 4;
    opacity: 1;
    transition: .3s opacity;
    pointer-events: none;
}

/* Description reveal on hover */
.collage .item .description {
    opacity: 1;
    z-index: 1;
    transition: .3s opacity;
    top: 50%;
    transform: translateY(-50%);
    left:0;
    right: 0;
    margin: auto;
    position: absolute;
    display: block;
    text-align: center;
    padding: 0 2em;
    box-sizing: border-box;
    pointer-events: none;
    user-select: none;
}
.collage .item .description a {
    cursor: pointer;
    pointer-events: all;
}
@media (hover: hover) and (pointer: fine) {
    .collage:not(.dragging) .item:hover img {
        opacity: .2;
    }
}
.collage:not(.dragging) .item.active img {
    opacity: .2;
}

.collageCallToAction {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, transparent, var(--bg-dark));
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 2em .8em 2em;
    box-sizing: border-box;
    pointer-events: none;
}
.collageCallToAction a {
    pointer-events: all;
    color: var(--text-dark);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    opacity: .6;
}
.collageCallToAction a:hover {
    opacity: 1;
}
@media screen and (max-width: 720px) {
    .collage {
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        grid-template-rows: repeat(4, 1fr);
    }
    .collage .item .description {
        display: none;
    }
    .collage .item img {
        opacity: 1 !important; /* Override */
    }
    .collageCallToAction {
        height: 100%;
        background: #00000088;
        align-items: center;
    }
    .collageCallToAction a {
        opacity: 1;
    }
}
/* Custom grid element sizing */
/*
.collage .item:first-child {
    grid-column: span 2;
    grid-row: span 2;
}
.collage .item:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
}
.collage .item:nth-child(5) {
    grid-column: span 2;
}
.collage .item:nth-child(8) {
    grid-row: span 2;
}
*/