---
title: Projects
permalink: /gallery/
description: A showcase of my lighting design works, from designs to renders and live show operation.
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head" %}
    <link rel="stylesheet" type="text/css" href="/css/articlelist.css" />
    <link rel="stylesheet" type="text/css" href="/css/components/toggle.css" />
    <link rel="stylesheet" type="text/css" href="/css/components/collage.css" />
    <link rel="stylesheet" type="text/css" href="/css/components/dragToScroll.css" />
<style>
body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: stretch;
}
section {
    background-color: blue;
}
section:nth-child(2) {
    background-color: red;
}
header, footer {
    grid-column: span 2;
}
</style>
</head>
<body>
    {% include "components/header", classes: "fixed sticking", projects: false %}

    <section class="fullpage center dark">
        <div class="horizontalflex viewport">
            <div class="hero">
                <h1><a class="hiddenlink" href="/" style="padding: 0;">{{ site.name }}</a></h1>
            
                <h2>Lighting Design Project gallery. Mega-scrolling collage grid with borders. Black.</h2>
            </div>
        </div>
    </section>

    <section class="frontpageFeatured">
        <h3>Wasting space</h3>
    </section>

<!--
    <section class="light" style="padding:0;">
        <div class="collage dragToScroll horizontalMouseScroll">
{%- for i in (1..12) %}
            <div class="hiddenlink item">
                {% image "imgPassthrough/bg_garage.jpg", "projectImage", "projectImage" %}
                <div class="description">
                    <a class="hiddenlink" href="#" draggable="false"><h4>This watever. Very long text showing here, just make sure it fits. ></h4></a>
                    <span>2022-04-22</span>
                </div>
            </div>
{%- endfor %}
        </div>
    </section>
-->

    <footer class="dark center">
        <p style="text-align: center;">Gonzalo Ruiz, independent software consultant and Lighting Designer.</p>
        <p><a href="/contact/">Let's have a chat!</a></p>
    </footer>

<script src="/js/scrollTools.js" type="text/javascript"></script>
<script src="/js/components/header.js" type="text/javascript"></script>
<script src="/js/dragToScroll.js" type="text/javascript"></script>
<script src="/js/horizontalMouseScroll.js" type="text/javascript"></script>


</body>
</html>